@import "tailwindcss";

/* --- 글로벌 스타일 --- */
html {
  color-scheme: light;
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));
:root {
  --bg: #ffffff;
  --fg: #111111;
}

.dark {
  color-scheme: dark;
  --bg: #050816;
  --fg: #f5f5f5;
}

body {
  background: var(--bg);
  color: var(--fg);
  transition: background 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
  }
  html {
    color-scheme: light;
  }
}

/* 기본 상태: 안 보이는 상태 + 아래로 살짝 내려간 상태 */
.intro-item {
  opacity: 0;
  transform: translateY(16px);
  transition:
      opacity 0.6s ease,
      transform 0.6s ease;
}

.intro-visible {
  opacity: 1;
  transform: translateY(0);
}
